.cocktail-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.cocktail-card {
  background-color: #333;
  border-radius: 8px;
  padding: 10px;
  width: 180px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.cocktail-card img {
  width: 100%;
  border-radius: 8px;
}

.cocktail-card h2 {
  font-size: 1.2em;
  margin: 10px 0;
}

.cocktail-card p {
  font-size: 0.9em;
  color: #160909;
}

.cocktail-card button {
  background-color: #e74c3c;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 15px;
  margin-top: 10px;
  cursor: pointer;
  font-size: 0.9em;
}

.cocktail-card button:hover {
  background-color: #c0392b;
}

.cocktail-card a {
  text-decoration: none;
  color: inherit;
}

.cocktail-card a:hover {
  color: #f39c12;
}

/* Responsive Design */
@media (max-width: 768px) {
  .cocktail-card {
    width: 100%;
  }
}

@media (min-width: 769px) {
  .cocktail-card {
    width: 180px;
  }
}
